@import './variables.scss';

// Loading animation
@keyframes loading-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Continuous rotation
@keyframes rotate-center {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Vertical bounce/slide up and down
@keyframes slide-up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

// Animation helper classes
.rotate-center {
  animation: rotate-center 100s linear infinite;
  &.reverse {
    animation: rotate-center 100s linear infinite reverse;
  }
}

.slide-up-down {
  animation: slide-up-down 1.7s ease-in-out infinite alternate;
}
